.pageArea{
    width:100%;
    height: 100vh;
    background-color:#f4f7fa;
     /* display: flex; 
     flex-direction: row;
    justify-content: flex-start;  */
}
/* .pageContent{
    width: 100%;
    height: 200px;
} */