.sideBarArea{
    width: 280px;
    height: 100%;
    background-color: #1f47c9;
    display: block;
}
.sideBarArea .greetings{
    padding:15px 15px; 
    text-align: center;
}
.sideBarArea h1{
    color: white;
    display: flex;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
}
.sideBarArea p{
    color: white;
    display: flex;
    text-align: center;
    font-size: 14px;
    padding:15px 0px; 
    font-weight: 500;
    text-align: center;
}
.sideBarArea p span{
    font-weight: 700;
}
.sideBarArea .sideBarList{
    padding: 0;
    list-style: none;
    height: auto;
    width: 100%;
    margin: 0;
    padding-top: 5px;
    text-align: left;
}

.sideBarList .item{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 14px;
    /* width: 100vw; */
    height: 50px;
    margin: 0;
    padding:4px 15px; 
    margin: 5px 20px 5px 20px;
    transition: 0.3s ease-in;
    border-radius: 12px;
    /* justify-content: center; */
}
.item .icon{
    padding-left: 2px;
}
.item p{
    padding-left: 24px;
    font-size: 14px;
    text-decoration-color: transparent;
}
.item p:hover{
    text-decoration: none;
}
.item:hover{
    background-color: #466dee;
    transition: 0.3s ease-in;
}
.sideBarList #active{
    border-radius: 12px;
    background-color: #7793ec;
}
.logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    padding:4px 15px; 
    height: 50px;
    margin: 5px 30px 5px 30px;
    transition: 0.3s ease-in;
    border-radius: 12px;
    position: absolute;
    bottom: 30px;
    cursor: pointer;
}
.logout .logout-icon{
    padding-left: 2px;
}

.logout p{
    padding-left: 24px;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s ease-in;
}
.logout:hover{
    background-color: #466dee;
    transition: 0.3s ease-in;
}
.logout p:hover{
    font-weight: 600;
    transition: 0.3s ease-in;
}


@media  (max-height:1100px){
    .sideBarArea{
        width: 0%;
    }
}